Package: python-conf-d
Source: conf-d
Version: 0.0.2-1
Architecture: all
Maintainer: Serge van Ginderachter <serge@milieuinfo.be>
Installed-Size: 66
Depends: python2.7, python (>= 2.7.1-0ubuntu2), python (<< 2.8)
Provides: python2.7-conf-d
Section: python
Priority: extra
Homepage: https://github.com/josegonzalez/conf_d
Description: conf_d Python Library
 read configuration files, conf.d style
