Source: conf-d
Section: python
Priority: extra
Maintainer: Serge van Ginderachter <serge@milieuinfo.be>
Build-Depends:
    debhelper (>= 8.0.0),
    python-all (>= 2.6)
Build-Depends-Indep:
    python-setuptools
Standards-Version: 3.9.3
Homepage: https://github.com/josegonzalez/conf_d

Package: python-conf-d
Architecture: all
Depends:
    ${python:Depends},
    ${misc:Depends}
Provides:
    ${python:Provides}
Description: conf_d Python Library
 read configuration files, conf.d style
